<div class="content-container">
  <div class="content-area">
    <button class="btn btn-primary" (click)="isNewProjectOpen = true">New Project</button>

    <clr-modal [(clrModalOpen)]="isNewProjectOpen">
      <h3 class="modal-title">New Project</h3>
      <div class="modal-body">
        <form class="compact">

          <!--<div aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm">-->
          <input type="text" id="aForm_1" placeholder="Project Name" size="100" autofocus>


          <textarea placeholder="Describe something" class="clr-textarea"></textarea>

          <!--<span  class="tooltip-content">-->
          <!--This field cannot be empty!-->
          <!--</span>-->
          <!--</div>-->

          <div class="modal-footer">
            <button type="button" class="btn btn-outline" (click)="isNewProjectOpen = false">Cancel</button>
            <button type="submit" class="btn btn-primary" (click)="isNewProjectOpen = false">Create</button>
          </div>
        </form>
      </div>
    </clr-modal>

    <clr-datagrid>
      <clr-dg-column>ID</clr-dg-column>
      <clr-dg-column>Title</clr-dg-column>
      <clr-dg-column>Last Modification</clr-dg-column>

      <clr-dg-row *ngFor="let project of projects">
        <clr-dg-cell>{{project.id}}</clr-dg-cell>
        <clr-dg-cell>{{project.name}}</clr-dg-cell>
        <clr-dg-cell>{{project.modification | date}}</clr-dg-cell>
      </clr-dg-row>

      <clr-dg-footer>{{projects.length}} project{{projects.length === 1 ? "" : "s"}}</clr-dg-footer>
    </clr-datagrid>
  </div>
  <app-sidebar class="sidenav"></app-sidebar>
</div>
