<app-project-form></app-project-form>

<!--<div *ngIf="isLoading">-->
  <!--<span class="spinner spinner-md">Loading...</span>-->
<!--</div>-->

<clr-datagrid>
  <clr-dg-column>Title</clr-dg-column>
  <clr-dg-column>Description</clr-dg-column>
  <clr-dg-column>Last Modification</clr-dg-column>

  <clr-dg-row *ngFor="let project of projects">
    <clr-dg-cell><a routerLink="/editor/{{project.id}}">{{project.title}}</a></clr-dg-cell>
    <clr-dg-cell>{{project.description}}</clr-dg-cell>
    <clr-dg-cell>{{project.modified | date}}</clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>
    {{projects.length}} project{{projects.length === 1 ? "" : "s"}}
  </clr-dg-footer>
</clr-datagrid>

