<div (mouseleave)="onGlobalMouseLeave()">
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile *ngFor="let video of videos; let i = index">
      <app-video
        source='{{video.source}}' (playerReady)="onPlayerReady($event)"
        (mouseenter)='onMouseEnter(i)'
        (mouseleave)='onMouseLeave(i)'
      >
      </app-video>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<form action="#">
  <!--<ng-progress #progressBar></ng-progress>-->
  <!--<button (click)="progressBar.start()">-->
  <label for="timeSelector">Seek:</label>
  <input #timeSelector
         id="timeSelector"
         name="Seek Time"
         type="range"
         min="0"
         max="{{max}}"
         [(ngModel)]="currentTime"
         (ngModelChange)="setTime($event)"
         value="0">
  <output for="timeSelector">{{currentTime}}</output>
</form>
