<clr-main-container>
  <app-header>
  </app-header>

  <div class="content-container">
      <div class="content-area" style="border-left: thick solid #ff0000;" (click)="onClickVerticalBar($event)">
        <ng-content></ng-content>
    </div>

    <clr-vertical-nav *ngIf="verticalNavVisible" [clrVerticalNavCollapsible]="true"
                      [(clrVerticalNavCollapsed)]="verticalNavCollapsed" [ngStyle]="getWidth()">
      <app-filetree *ngIf="!verticalNavCollapsed">
      </app-filetree>
    </clr-vertical-nav>
  </div>

</clr-main-container>
