<div class="vertical-line"></div>

<!--<app-dialog [currentProject]="project"></app-dialog>-->

<!--<div class="clr-row">-->
<!--<div class="clr-col">-->
<!--<app-videogrid></app-videogrid>-->
<!--</div>-->
<!--<div class="clr-col">-->
<!--<span class="test">6</span>-->
<!--</div>-->
<!--</div>-->

<div class="clr-row">
  <div class="clr-col-6">
    <span class="test">6</span>
    <div class="clr-row">
      <div class="clr-col">
        <span class="test">6</span>
      </div>
    </div>
  </div>
  <div class="clr-col-6" style="background: #d9e4ea; border-radius: 3px">
    <!--<span class="test">6</span>-->
    <app-videogrid></app-videogrid>
    <!--<div class="clr-row">-->
      <!--<div class="clr-col-3">-->
        <!--<span class="test">3</span>-->
      <!--</div>-->
      <!--<div class="clr-col-9">-->
        <!--<span class="test">9</span>-->
      <!--</div>-->
    <!--</div>-->
  </div>
</div>
