<!--<div class="vertical-line"></div>-->
<as-split direction="vertical">
  <as-split-area size="80">
    <div class="container">
      <div class="split-example">
        <as-split [direction]="direction">
          <as-split-area size="50">
            <app-videogrid></app-videogrid>
          </as-split-area>
          <as-split-area size="50">
            <app-annotation></app-annotation>
          </as-split-area>
        </as-split>
      </div>
      <br>
    </div>
  </as-split-area>

  <as-split-area size="20">
    <div class="btns">
      <button class="btn btn-primary" (click)="onPlay()"> Play</button>
      <button class="btn btn-primary-outline" (click)="onPause()">Pause</button>
      <button class="btn btn-danger" (click)="onClear()">Clear Labels</button>
      <button class="btn btn-warning"
              (click)="direction = (direction === 'horizontal') ? 'vertical' : 'horizontal'">{{ 'Toggle direction: "' + direction + '"' }}</button>
    </div>
  </as-split-area>
</as-split>
