<!--<clr-tree-node *ngIf="project && annotationsFolder">-->
  <!--<div>-->
    <!--<clr-icon [attr.shape]='annotationsFolder.expanded ? "folder-open" : "folder"'></clr-icon>-->
    <!--{{ annotationsFolder.name }}-->
  <!--</div>-->
  <!--<div class="btn-group btn-link btn-icon action-icons">-->
    <!--<button type="button" class="btn" title="Add Class" (click)="addNewLabel()">-->
      <!--<clr-icon shape="plus"></clr-icon>-->
    <!--</button>-->
  <!--</div>-->
  <!--<ng-template [(clrIfExpanded)]="annotationsFolder.expanded">-->
    <!--<clr-tree-node *ngFor="let label of annotationsFolder.files; let i = index">-->

      <!--&lt;!&ndash;<button&ndash;&gt;-->
      <!--&lt;!&ndash;class="clr-treenode-link"&ndash;&gt;-->
      <!--&lt;!&ndash;[class.active]="label.active">&ndash;&gt;-->
      <!--&lt;!&ndash;</button>&ndash;&gt;-->

      <!--<div class="clr-treenode-link">-->
        <!--&lt;!&ndash;<clr-icon [attr.shape]="label.icon"></clr-icon>&ndash;&gt;-->
        <!--<input type="text" [(ngModel)]="label.name" (change)="onLabelNameChange(i)"/>-->
        <!--&lt;!&ndash;{{label.name}}&ndash;&gt;-->
      <!--</div>-->
      <!--<div>-->
        <!--&lt;!&ndash;<button class="btn btn-link btn-icon" (click)="onLabelHide(i)">&ndash;&gt;-->
          <!--&lt;!&ndash;<clr-icon shape="eye-hide"></clr-icon>&ndash;&gt;-->
        <!--&lt;!&ndash;</button>&ndash;&gt;-->
        <!--<button class="btn btn-link btn-icon" (click)="onLabelDelete(label.id, i)">-->
          <!--<clr-icon shape="trash"></clr-icon>-->
        <!--</button>-->
      <!--</div>-->
    <!--</clr-tree-node>-->
  <!--</ng-template>-->
<!--</clr-tree-node>-->
